/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');
:root {
        --text-green: #27ae60;
        --bg-darkgray: #191D2B;
        --bg-no-repeat:no-repeat;
        --bg-cover:cover;
        --bg-white:#fff;
        --text-decoration: none;
        --bg-fixed:fixed;
        --bg-center:center center;
        --font-poppins:'Poppins', sans-serif;
        --darkgray-color:#4e4e4e;
        --overflow-x: hidden;
        --box-sizing:border-box;
        -color_white:#fff;
        --light-pink:#f56692;
        --boder-color-pink: #f56692;
        --bg-pink:#f56692;
    }
*{
    box-sizing: var(--box-sizing);
}
h1, h2, h3, h4, h5, h6{
font-family: 'Raleway', sans-serif;
}
body {
    color: var(--darkgray-color);
    font-family: var(--font-poppins);
    overflow-x: var(--overflow-x);
    transition: background 0.2s linear;
}
.text-orange{
  color:  var(--text-green);
}
.bg-darkgray{
  background-color:  var(--bg-darkgray);
}

a {
 text-decoration:  var(--text-decoration);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

a:hover {
  color: var(--text-green);
  text-decoration:  var(--text-decoration);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
body-light a:hover {
  color: var(--text-green);
}
p{
  font-size: 16px;
}
.bg-image {
  background-repeat: var(--bg-no-repeat);
  background-attachment: fixed;
  background-size: var(--bg-cover);
  background-position: var(--bg-center);
}

@media (max-width: 1024px) {
  .bg-image {
    background-attachment: scroll;
  }
}

.overlay-mf {
  background-color: #191D2B;
}

.overlay-mf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}


.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}
.sr-only{
   position:absolute;
   left:-10000px;
   top:auto;
   width:1px;
   height:1px;
   overflow:hidden;
}

/*--/ Title A /--*/
.title-box {
  margin-bottom:2.5rem;
}
.title-box h2 span, #hero .hero-title span, #contact .title-box-2 h5 span{
  color: var(--text-green);
}

body.light .title-box h2 span, body.light #hero .hero-title span, body.light #contact .title-box-2 h5 span{
  color: var(--light-pink);
}

.subtitle-a {
  text-decoration: var(--text-decoration);
  color: #4e4e4e;
}

.line-mf {
  width: 40px;
  height: 5px;
  background-color: var(--text-green);
  margin: 0 auto;
}

/*--/ Title Left /--*/
.title-box-2 {
  margin-bottom: 3rem;
}

.title-box h2 {
    font-size: 2.6rem;
    position: relative;
    font-weight: 900;
}

.title-left:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--text-green);
  width: 100px;
  bottom: -12px;
}


/*------/ Socials /------*/
.socials {
  padding: 1.5rem 0;
}

.socials ul li {
  display: inline-block;
}

.socials .ico-circle {
    height: 50px;
    width: 50px;
    font-size: 1.4rem;
    border-radius: 50%;
    line-height: 1.6;
    margin: 0 7px 0 0;
    box-shadow: 0 0 0 2px var(--text-green);
    transition: all 500ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--text-green);
    color: #fff;
}

body.light .socials .ico-circle {
    box-shadow: 0 0 0 2px var(--light-pink);
    background: var(--bg-pink);
}
.socials .ico-circle:hover {
  background-color: var(--text-green);
  color: #fff;
  box-shadow: 0 0 0 3px #cde1f8;
  transition: all 500ms ease;
}

body.light .socials .ico-circle:hover {
  background-color: var(--bg-pink);
  box-shadow: 0 0 0 3px var(--boder-color-pink);
}

/*------/ Ul resect /------*/
.ul-resect,
.widget-tags ul,
.widget-sidebar .list-sidebar,
.box-comments .list-comments,
.blog-wrapper .post-meta ul,
.list-ico,
.socials ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.list-ico {
  line-height: 2;
}

.list-ico span {
  color: var(--text-green);
  margin-right: 10px;
}

body.light .list-ico span {
  color: var(--light-pink);
}

/*--/ Scrolltop s /--*/
.scrolltop-mf {
  position: relative;
  display: none;
}

.scrolltop-mf span {
  z-index: 999;
  position: fixed;
  width: 42px;
  height: 42px;
  background-color: var(--text-green);
  opacity: 0.7;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  top: auto;
  left: auto;
  right: 30px;
  bottom: 50px;
  cursor: pointer;
  border-radius: 50%;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--text-green);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
body.light .back-to-top{
  background-color: var(--bg-pink);
}
.back-to-top i {
  font-size: 28px;
  color: #000;
  line-height: 0;
}

.back-to-top:hover {
    background: #ffff;
    color: #000;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*------/ Prelaoder /------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid var(--text-green);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*------/ Button /------*/
.button {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  transition: all 500ms ease;
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button:hover {
  background-color: #0062d3;
  color: #fff;
  transition: all 500ms ease;
}

.button-a {
  text-decoration: none;
  background-color: var(--text-green);
  color: #fff;
  border-color: #cde1f8;
}

.button-big {
  padding: 0.9rem 2.3rem;
  font-size: 1.2rem;
}

.button-rouded {
  border-radius: 5rem;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}
/* GENERAL BUTTON STYLING */
.btn-5,
.btn-5::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-5 {
  background: none;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
}

.btn-5::before,
.btn-5::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}
.btn-5:hover {
    color: #000;
    background: var(--text-green);
    border-color: var(--text-green);
}
body.light .btn-5:hover {
    color: #fff;
    background: var(--light-pink);
    border-color: var(--light-pink);
}

/* BUTTON 5 */
.btn-5 {
  overflow: hidden;
}

.btn-5::after {
  /*background-color: #f00;*/
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn-5:hover:after {
  height: 100%;
  width: 135%;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  display: none;
}
.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;

}
#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  letter-spacing: 1px;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
    max-height: 50px;
}
.logo sub {
    color: var(--text-green);
    font-size: 15px;
    letter-spacing: 2.5px;
    position: relative;
    top: 0;
    border: 1px solid #27ae60;
    padding: 5px 10px;
    text-transform: uppercase;
}

body.light .logo sub {
    color: var(--light-pink);
    border-color: var(--boder-color-pink);

}
#header.header-scrolled {
  background: rgba(0, 0, 0, 0.9);
  padding: 12px 0;
      display: block;
}

/**dark and light theme**/
body.light {
  background-color: #fff;
}
#header .checkbox {
  opacity: 0;
  position: absolute;
}

#header .label {
    width: 50px;
    height: 24px;
    background-color: var(--bg-darkgray);
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}

#header .ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 4px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
#header .checkbox:checked + .label .ball{
  transform: translateX(24px);
}
 #header  .bi-moon-fill{
  color: var(--text-green);
 }
 #header .bi-brightness-high-fill{
  color: var(--light-pink) !important ;
 }
 body.light #hero p {
  color: #fff !important;
}
body.light #header.header-scrolled, body.light .bg-darkgray, body.light .service-box, body.light .contact-info {
    background: var(--bg-white) !important;
}
body.light #header nav ul li a, body.light .about-me h2, 
body.light p, body.light .service-box p, body.light .service-box h3, body.light .bg-darkgray h2, body.light .bg-darkgray .subtitle-a, 
body.light .contact-info h5, body.light .contact-info ul li, body.light .contact-info ul li a{
    color: var(--darkgray-color) !important;
}
body.light p,  body.light .contact-info ul li, body.light .contact-info ul li a {
  font-weight: 500;
}
body.light #header nav ul li a:hover, body.light #header nav ul li a.active{
color: var(--light-pink) !important;
}
body.light .subtitle-a, body.light .copyright-box p{
    color: #fff !important;
}
body.light #services .ico-circle {
    color: #fff;
    box-shadow: 0 0 0 2px #fff;
    border-color: var(--boder-color-pink);
    background: var(--bg-pink);
}
body.light .service-box:hover{
  border-color:var(--boder-color-pink);
}
body.light .service-box{
  border-color: #fff;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 10px 0 10px 30px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
  text-transform: uppercase;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    width: 0;
    right: 0;
    background-color: var(--text-green);
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    margin: 0 auto;
}
body.light .navbar>ul>li>a:before{
background-color: var(--bg-pink);
}
.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 80%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color:var(--text-green);
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #4e4e4e;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: var(--text-green);
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(78, 78, 78, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #4e4e4e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: var(--text-green);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: var(--text-green);
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero .hero-content {
  text-align: center;
  position: absolute;
}

.hero .overlay-itro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

.hero .hero-title {
  color: #fff;
  font-weight: 900;
  font-size: 3rem;
}
.hero .table-cell {
    position: relative;
    z-index: 1;
}
.hero:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgba(0, 0, 0, .8);
}
@media (min-width: 768px) {
  .hero .hero-title {
    font-size: 4rem;
    line-height: normal;
}
}

.hero .hero-subtitle {
  font-size: 1.5rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .hero .hero-subtitle {
    font-size: 2.5rem;
  }
}


.hero .text-slider-items {
  display: none;
}

.hero-single {
  height: 350px;
}

.hero-single .hero-content {
  margin-top: 30px;
}

.hero-single .hero-title {
  text-transform: uppercase;
  font-size: 3rem;
}


.hero-single .breadcrumb {
  background-color: transparent;
  color: var(--text-green);
}

.hero-single .breadcrumb .breadcrumb-item:before {
  color: #cde1f8;
}

.hero-single .breadcrumb .breadcrumb-item.active {
  color: #cde1f8;
}

.hero-single .breadcrumb a {
  color: #fff;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-mf .box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.about-mf {
    padding: 110px 0 70px !important;
}
.about-mf .about-img {
  margin-bottom: 2rem;
}
.about-image {
    position: relative;
}
.about-image {
    width: 90%;
    margin-left: 0;
    position: relative;
    z-index: 3;
}
.about-image:after {
    content: '';
    position: absolute;
    left: -30px;
    top: 0;
    width: 8px;
    height: 150px;
    background: var(--text-green);
}
.about-image:before{
    content: '';
    position: absolute;
    right: -30px;
    bottom: -30px;
    width: 200px;
    height: 200px;
    background-image: url(../../assets/img/dots2.png);
    background-repeat: repeat;
    z-index: -1;
}
.about-image img {
    border-radius: 10px;
    border: 3px solid #27ae60;
}
.about-image img:hover {
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
}
.img2 {
    position: absolute;
    bottom: -120px;
    left: -60px;
    width: 80%;
    z-index: 4;
}


body.light .about-image:after{
   background:linear-gradient(to right, rgb(245, 101, 146) 5%, #fff 100%);
}
#about .lead {
    font-size: 16px;
}
#about .lead strong {
    font-size: 20px;
    font-weight: 700;
}
.about-info {
    position: relative;
    border: 3px solid #272525;
    padding: 13px 30px;
    margin-top: 20px;
}

.about-info p:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background:#27ae60;
    left: -20px;
    top: 8px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

body.light .about-info p:after, body.light .title-left:before,  body.light .line-mf, body.light .container_menu_iso .menu_iso li a.is-checked, 
body.light .container_menu_iso .menu_iso li a:hover {
  background:var(--bg-pink);
}

@media (min-width: 767px) {
  .about-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}

.skill-mf span {
  color: #4e4e4e;
}

.skill-mf .progress {
  background-color: #cde1f8;
  margin: 0.5rem 0 1.2rem 0;
  border-radius: 0;
  height: 0.7rem;
}

.skill-mf .progress .progress-bar {
  height: 0.7rem;
  background-color: var(--text-green);
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.bg-img {
    background-attachment: var(--bg-fixed);
    background-repeat: var(--bg-no-repeat);
    background-size: var(--bg-cover);
    background-position:var(--bg-center);
}
.service-box {
    background-color:var(--bg-darkgray);
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 55PX;
    border-left: 2px solid #191d2b;
    border-bottom: 2px solid #191d2b;
    text-align: center;
    border-right: 2px solid #191d2b;
    border-top: 2px solid #191d2b;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.service-box:hover, #exprience-qualification .card:hover {
    border-color: var(--text-green);
    border-radius:1rem 2rem;
    border-width: 2px;
}

body.light .service-box:hover, body.light #exprience-qualification .card:hover {
    border-color: var(--boder-color-pink);
}
.service-box:hover .ico-circle {
    transform: none;
}
.service-box:hover .ico-circle {
  transition: all 500ms ease;
  color: #fff;
  background-color: var(--text-green);
  box-shadow:0 0 0 5px #cde1f8;
}

body-light .service-box:hover .ico-circle {
  background-color: var(--light-pink);
}

.service-box .service-ico {
  margin-bottom: 1rem;
      margin-top: -65px;
}

.service-box .ico-circle {
  transition: all 500ms ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.service-box .ico-circle i {
  line-height: 0;
  font-size: 22px;
}

.service-box .s-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: 11px 0 1px;
}

.service-box .s-description {
    font-weight: 300;
        font-size: 15px;
}
#services .ico-circle {
    height: 50px;
    width: 50px;
    font-size: 2rem;
    /* border-radius: 50%; */
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 2px var(--text-green);
    display: flex;
    background: #2d2a2a;
    transform: rotate(45deg);
    color: var(--text-green);
    align-items: center;
    justify-content: center;
}
#services .ico-circle i {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
#services .service-box:hover .ico-circle {
    transform: rotate(0) ;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

/*--------------------------------------------------------------
# Education and Experinece
--------------------------------------------------------------*/
#history .card {
    border: 2px solid #2a2e35;
    border-radius: 3px;
    padding: 20px;
    background: #2a2e35;
     -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
body.light #history .card {
    border-color: #cdcdcd;
    background: #ededed;
}
body #history .card div {
    color: #27ae60 !important;
}
.exp-sec .card.shadow {
    background: #232222;
    padding: 20px;
    border: 1px solid #383838;
}
#history .card h4 {
    font-size: 18px;
    line-height: normal;
    font-weight: 700;
}
body.light #history .card  h4{
  color: var(--darkgray-color) !important;
}
#history .badge {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    border: 2px solid #2a2e35!important;
    background: #27ae60 !important;
    color: #2a2e35;
}

body.light #history .badge {
    border: 2px solid var(--boder-color-pink) !important;
        background: var(--bg-pink) !important;
}
#history .badge strong{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    display: inline-block;
}
#history .col{
  border-color: #27ae60 !important;
}
body.light #history .col{
  border-color:var(--boder-color-pink) !important;
}
.container_menu_iso .menu_iso li a.is-checked {
    color: #fff;
    background: #27ae60;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skill-ico span img {
    max-width: 50px;
    height: 50px;
    object-fit: contain;
}
#skills .title-box {
    margin-bottom: 25px;
} 
.skill-mf .service-box {
    padding: 12px;
    margin-bottom: 10px;
}

#skills .col {
    overflow: hidden;
    padding: 0 5px;
    flex: none;
  }
  .skill-mf .service-box:hover .icon img {
    filter: grayscale(1) invert(1);
    -webkit-filter: grayscale(1) invert(1);
    -moz-filter: grayscale(1) invert(1);
}
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
/*----------  Container menu iso-gallery  ----------*/
.col {
    padding: 0 5px;
}
.container_menu_iso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0rem 0 20px;
}
.section-works .title-box {
    margin-bottom: 30px;
}
.container_menu_iso .menu_iso li {
  float: left;
  list-style: none;
  padding: 9px 3px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .container_menu_iso .menu_iso li {
    padding:14px 2px;
  }
}


.container_menu_iso .menu_iso li a {
    padding: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background: #fff;
    font-family: var(--font-family);
        font-weight: 600;
}

.container_menu_iso .menu_iso li a:hover {
    color: #ffff;
    -webkit-box-shadow: inset 5px 5px 13px #6e6e6e, inset -5px -5px 13px #ffffff;
    box-shadow: inset 5px 5px 13px #6e6e6e, inset -5px -5px 13px #ffffff;
    background: var(--text-green);
}

@media screen and (max-width: 600px) {
  .container_menu_iso .menu_iso li a {
    padding: 15px;
    font-size: 0.8rem;
  }
}

/* Main settings isotopes images */
.img_iso {
  position: relative;
  cursor: pointer;
  height: 250px;
  width: 100%;
  margin: 5px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.img_iso:hover a.text:hover {
    color: #0b5ed7;
}
.img_iso .btn-5::after {
    left: -46%;
}
@media screen and (max-width: 768px) {
  .img_iso {
    height: 230px;
    width: 100%;
  }
  .img_iso {
    margin: 0 0 10px;
}
.isotope-item {
    padding: 0;
}
}

@media screen and (max-width: 600px) {
  .img_iso {
    height: 180px;
    width:100%;
  }
}

@media screen and (max-width: 425px) {
  .img_iso {
    height: 250px;
    width: 100%;
  }
}

.img_iso:hover {
  -webkit-box-shadow: 6px 4px 11px 3px #999999;
  box-shadow: 6px 4px 11px 3px #999999;
  
}

/*=============================================
=     Isotopes Images                        =
=============================================*/

/*Projects */

.blu1 {
  background-image: url("../img/projects/scall.jpg");
}
.blu2 {
  background-image: url("../img/projects/wiio.jpg");
}
.blu3 {
  background-image: url("../img/projects/bbb.jpg");
}
.blu4 {
  background-image: url("../img/projects/company21.jpg");
}
.blu5 {
  background-image: url("../img/projects/enviroment-min.jpg");
}

.blu6 {
  background-image: url("../img/projects/gotrip-min.jpg");
}

/* Mockups */

.red1 {
  background-image: url("../img/mockups/business-consulting.jpg");
}
.red2 {
  background-image: url("../img/mockups/Tricountypress-Mockup.jpg");
}
.red3 {
  background-image: url("../img/mockups/berinices.jpg");

}
.red4 {
  background-image: url("../img/mockups/mindpumpmedia-new.jpg");
}

.red5 {
  background-image: url("../img/mockups/freight.jpg");
}

.red6 {
  background-image: url("../img/mockups/PEST-CONTROL.jpg");
}

/*app */

.pink1 {
  background-image: url("../img/app/chalist1t.jpg");
}
.pink2 {
  background-image: url("../img/app/newsfeed2.jpg");
}
.pink3 {
  background-image: url("../img/app/search1.jpg");
}
.pink4 {
  background-image: url("../img/app/profile-min.jpg");
}

/*----------  Overlay with text on image hover ----------*/

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(30, 32, 32, 0.472);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}

/* On hover, the overlay text will "zoom" in display */
.img_iso:hover .overlay {
    transform: scale(1);
    background-color: rgb(39, 174, 96, .6);
}

body.light .img_iso:hover .overlay{
    background-color:rgb(245, 101, 146, .6);
}

/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

 
/*--------------------------------------------------------------
# cursor
--------------------------------------------------------------*/
.cursor {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
    border-radius: 50%;
    background: transparent;
    pointer-events: none;
    z-index: 111;
    border: 1px solid #fff;
    transition: all 0.2s ease-out;
    animation: moveCursor1 .5s infinite alternate;
}

.expand {
    background: transparent;
    animation: moveCursor2 .5s forwards;
    border: 1px solid #fff;
}
body.light .cursor{
  border-color: #4e4e4e;
}
@keyframes moveCursor1 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.8);
    }
}

@keyframes moveCursor2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.services-mf {
    padding: 70px 0 40px;
}
.footer-paralax, .section-works, .exp-sec, .about-mf, .skill-mf {
    padding: 70px 0 70px;
}
#contact figure {
    margin: 0;
}
#contact figure img {
    height: 500px;
    object-fit: cover;
    object-position: top;
}
.contact-info {
    background: #191D2B;
    padding: 20px;
    box-shadow: 0px 3px 7px -1px #2e2e2e;
    border-radius: 0px 3px 4px 0px;
}
@media (min-width: 767px) {
  .contact-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }

}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    text-align: center;
    color: #fff;
    padding: 10px 0;
    background: var(--bg-darkgray);
    border-top: 1px solid #444;
}

footer .copyright {
  margin-bottom: 0.3rem;
}

footer .credits {
  margin-bottom: 0;
}

footer .credits a {
  color: #fff;
}

@media(max-width:767px){
  .footer-paralax, .section-works, .exp-sec, .about-mf, .skill-mf {
    padding: 70px 10px 70px;
}
.about-image:after {
    width: 90%;
    right: 0;
    margin: 0 auto;
    left: 0;
}
.col {
    flex: none;
}   
.hero .hero-title {
    font-size: 2rem;
}
        .desktop-view{
        display:none;
        }
        body.light .mobile-nav-toggle{
        color:#f56692 !important;
        }
}
